:host {
    display: inline-block;
    max-width: 120px;
    margin: 10px;
    text-align: center;
    border: 1px dotted white;
  }

  img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
  }
