<p>Liczba statków: {{shipCount | async}}</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control">
  <label for="typeShip">Wybierz typ statku</label>
  <select id="typeShip" formControlName="shipType">
    <option value="default">Select a type</option>
    <option *ngFor="let shipType of spaceShipTypes" [ngValue]="shipType.type">{{shipType.name}}</option>
</select>
<p class="error" *ngIf="form.get('shipCount')!.hasError('required') && form.get('shipCount')!.touched">
  musi być wypełnione
</p>
  </div>
  <div class="form-control">
    <label for="shipCount">Wybierz ilość statków</label>
    <input type="number" id="shipCount" formControlName="shipCount">
    <p class="error" *ngIf="form.get('shipCount')!.hasError('required') && form.get('shipCount')!.touched">
      musi być wypełnione
    </p>
    <span *ngIf="form.get('shipCount')!.hasError('min') || form.get('shipCount')!.hasError('max')" class="error">
      podaj liczbę z zakresu 1-5
    </span>
  </div>
  <button type="submit" [disabled]="form.invalid || shoulProducing">Produkuj</button>
  <p *ngIf="shoulProducing">Czekaj trwa tworzenie nowych statków</p>
</form>
